.fondo{
  background-color: #eeeeee;
  /*max-width: 1000px;*/
  margin-left: 100px;
  margin-right: 100px;
}


.nombre {
  font-family: 'Asar', serif;
  font-size: 80px;
  color: black;
  font-style: italic;
  text-align: center;
}
.rica{
  width: 100%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.ella{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: center;
}
.el{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
li{
  margin-top: 10px;
}
.colombia{
  text-decoration: none;
}
.como{text-decoration:none;
}
.cin{
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 50px;
}
.form-container{
  padding: 15px;
}
@media (min-width: 992px){
  .form-container{
    display: flex;
  }
  .form-message,
  .contact-form{
    width: 50%;
  }
}
.contact-form input {
  display: block;
  padding: 8px;
  margin: 15px 0; /*top and bottom    left and right*/
}
.contact-form textarea{
  height: 120px;
  width: 100%;
}
.contact-form button {
  display: block;
}
